# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# env files
.env
.env.local
.env*.local
.env*
!.env.example

# Next.js
.next/
out/
build/
dist/

# dependencies
node_modules/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Misc
*.pem

# Temp / generated
*.log
*.tmp

# Python
__pycache__/
*.pyc
